
@{
    ViewBag.Title = "Index";
}
<div id="homeContent">
    <div id="resourceLinks">
        <h3>Sites</h3>
        <ul>
            <li><a href="http://dnd.wizards.com/">Wizards of the Coast</a></li>
            <li><a href="http://geekandsundry.com/awesome-online-dd-resources-to-make-your-games-that-much-cooler/">Geek and Sundry</a></li>
            <li><a href="http://www.tribality.com/dd-5th-edition-resources/">Tribality</a></li>
        </ul>
        <h3>Resources</h3>
        <ul>
            <li><a href="http://media.wizards.com/2015/downloads/dnd/BasicRules_Playerv3.4.pdf">D&D 5th Edition Basic Rules V 0.3</a></li>
            <li><a href="http://media.wizards.com/2014/downloads/dnd/DMBasicRulesv.0.3.pdf">D&D 5th Edition Dungeon Master’s Basic Rules Version 0.3</a></li>
            <li><a href="http://dnd.wizards.com/articles/features/character_sheets">Character Sheets</a></li>
            <li><a href="http://media.wizards.com/2016/downloads/DND/SA-Compendium.pdf">Sage Advice Compendium 1.14</a></li>
            <li><a href="http://media.wizards.com/2015/downloads/dnd/DnD_SpellLists_1.01.pdf">D&D Spell Lists 1.01</a></li>
            <li><a href="http://media.wizards.com/2016/downloads/DND/EE-Players-Companion.pdf">Elemental Evil Players Companion</a></li>
            <li><a href="http://mouseferatu.com/index.php/news/august-8-2014-a-special-gift-for-my-fellow-dd-fans/">Spell sorter</a></li>
            <li><a href="http://locator.wizards.com/#brand=dnd">Store and Event Locator</a></li>
        </ul>
    </div>
</div>