@{
    ViewBag.Title = "Home Page";
}



<div id="homeContent">
   <h1>Welcome!</h1>
    <p>We created this tool to help you store and maintain your characters' stats, monsters you use in your campaign,
        roll dice and take notes.  Please let me know if there are any improvements to be made using the contact page!</p>
    <p>Pro Tip: Use the "Behold!" page to ward off screen peeking while you go grab snacks.</p>
    
</div>